In [134]:
print("Hello world")

Hello world

In [140]:
pwd

'C:\\Users\\USER\\Downloads\\Ganeshkumar\\ML-AI\\Machinelearning_Handson'

In [136]:
#Divisible by 7 but not multiples of 5 between 2000 and 3200
l=[]
for i in range(2000,3200):
    if i%7 == 0 and i%5 != 0:
        l.append(i)
print(len(l))
print(l)

138
[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [138]:
#Accept User First name and last name . Print in reverse order with space between First and last name
FN=input('Enter your First name :')
LN=input('Enter your Last name:')
Name=FN+' '+LN
print(Name)
Name[::-1]

Enter your First name :Ganesh
Enter your Last name:Kumar
Ganesh Kumar

'ramuK hsenaG'

In [22]:
# V = 4/3 * pi * r3   given d = 12
import numpy as np
d=12
r = d * 2
V = (4/3) * r * np.power(r,3) 
V

442368.0

In [27]:
#Accept comma separated numbers and generate list
lt=[]
n=input('Enter numerics values separated by ,')
lt.extend(n.split(','))
lt

Enter numerics values separated by ,1,2,3

['1', '2', '3']

In [133]:
n=6
for i in range(n):
    print('*'*i)
#print(i)
    if i == n-1:
    #print('insider')
        for j in range(n,0,-1):
            print('*'*j)
    else:
        continue

*
**
***
****
*****
******
*****
****
***
**
*

In [139]:
# reverse a word after accepting the input from the user
Name=input('Enter your name :')
Name[::-1]

Enter your name :asdfg

'gfdsa'

In [107]:
print("WE, THE PEOPLE OF INDIA,\n\thaving solemnly resolved to constitute India into a SOVERIGN,!\n\t\tSOCIALIST, SECULAR, DEMOCRATIC REPUBLIC\n\t\tand to secure to all its citizens")

WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVERIGN,!
		SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		and to secure to all its citizens